
// ::-webkit-scrollbar {display:none;}
::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(208,177,182); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(247, 244, 244, 0.582); 
}
    .container1{
        height: 300vh;
        position: relative;
        .sticky1{
            position: sticky;
            overflow: hidden;
            top: 0;
            width: 99vw;
            height: 100vh;
            .el{
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                .imageContainer{
                    position: relative;
                    width: 25%;
                    height: 25vh;
                    img{
                        object-fit: cover;
                        box-shadow: 15px 15px 5px 0px rgb(231, 133, 133);
                    }
                }
                &:nth-of-type(2){ // asrs
                    .imageContainer{
                        top: -25vh;
                        left: 8%;
                        width: 35%;
                        height: 30vh;
                    }
                    @media screen and (max-width:1024px) {
                        .imageContainer{
                            top: -15vh;
                            left: 8%;
                            width: 35%;
                            height: 30vh;
                        } 
                    }
                    @media screen and (max-width:1444px) {
                        .imageContainer{
                            top: -15vh;
                        }
                    }
                    @media screen and (max-height:1100px) {
                        .imageContainer{
                            top: -20vh;
                            
                        }
                    }
                    @media screen and (max-height:855px) {
                        .imageContainer{
                            top: -25vh;
                            
                        }
                    }
                    @media screen and (max-height:700px) {
                        .imageContainer{
                            top: -34vh;
                            
                        }
                    }
                }
                &:nth-of-type(3){ //agv
                    .imageContainer{
                        top: 5vh;
                        left: -25%;
                        width: 28%;
                        height: 45vh;
                    }
                    @media screen and (max-width:1024px) {
                        .imageContainer{
                            top: 5vh;
                            left: -30%;
                            width: 28%;
                            height: 45vh;
                        }
                    }
                    @media screen and (max-width:1300px) {
                        .imageContainer{
                            top: 5vh;
                            left: -30%;
                            width: 28%;
                            height: 45vh;
                        }
                    }
                }
                &:nth-of-type(4){ //car
                    .imageContainer{
                        left: 25%;
                        width: 25%;
                        height: 25vh;
                    }
                    @media screen and (max-width:1024px) {
                        .imageContainer{
                            left: 30%;
                            width: 25%;
                            height: 25vh;
                        }
                    }
                    @media screen and (max-width:1300px) {
                        .imageContainer{
                            left: 32%;
                        }
                    }
                }
                &:nth-of-type(5){
                    .imageContainer{
                        top: 27.5vh;
                        left: 5%;
                        width: 20%;
                        height: 25vh;
                    }
                }
                &:nth-of-type(6){
                    .imageContainer{
                        top: 27.5vh;
                        left: -22.5vw;
                        width: 30vw;
                        height: 25vh;
                    }
                }
                &:nth-of-type(7){
                    .imageContainer{
                        top: 22.5vh;
                        left: 25vw;
                        width: 15vw;
                        height: 15vh;
                    }
                }
            }
        }
    }

// fakeZoomWork
.pos-el{ 
    img{
        box-shadow: 15px 15px 5px 0px rgb(231, 133, 133);
    }
    .pos-change{
        top: 37vh;
        left: 38%;
    }
    &:nth-of-type(2){
        .pos-change{
            top: 10vh;
            left: 38%;
        }
        @media screen and (max-width:1024px) {
            .pos-change{
                top: 20vh;
                left: 40%;
            }
        }
        @media screen and (max-width:1440px) {
            .pos-change{
                top: 16vh;
                left: 42%;
            }
        }
        @media screen and (max-height:830px) {
            .pos-change{
                top: 8vh;
                left: 40%;
            }
        }
        @media screen and (max-height:600px) {
            .pos-change{
                top: 3vh;
                left: 40%;
            }
        }
    }
    &:nth-of-type(3){
        .pos-change{
            top: 28vh;
            left: 10%;
        }
        @media screen and (max-width:1024px) {
            .pos-change{
                top: 35vh;
                left: 10%;
            }
        }
    }
    &:nth-of-type(4){
        .pos-change{
            top: 38vh;
            left: 65%;
        }
        @media screen and (max-width:1024px) {
            .pos-change{
                top: 38vh;
                left: 68%;
            }
        }
    }
    &:nth-of-type(5){
        .pos-change{
            top: 27.5vh;
            left: 5%;
        }
    }
}
